@import 'modules/_variables';
@import 'modules/_component';
@import 'modules/_helperClass';

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Noto+Sans+TC:400,500,700,900|Noto+Sans+JP:400,500,700,900&subset=chinese-traditional,japanese');

$fallback-font-family: "Helvetica Neue", "Helvetica", "Arial", "PMingliu", -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
$base-font-family: Roboto, "Segoe UI", "Fira Sans", "Droid Sans";
$cjk-zhtw-font-family: $base-font-family, 'Noto Sans TC', "Microsoft JhengHei";
$cjk-jp-font-family: $base-font-family, 'Noto Sans JP', "Hiragino Sans", "Hiragino Kaku Gothic Pro", "Yu Gothic", YuGothic, Meiryo;

:lang(en) { font-family: $base-font-family, $fallback-font-family; }
:lang(ja) { font-family: $cjk-jp-font-family, $fallback-font-family; }
:lang(zh), :lang(zh-TW) { font-family: $cjk-zhtw-font-family, $fallback-font-family; }

// picnic custom
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}
mark {
    background: rgba(0, 0, 0, 0.086);
    color: inherit;
    padding: 0.05em 0.4em;
    margin: 0 0.2em;
    border-radius: 0.2em;
}

.btn-holo {
    background: none;
    color: inherit;
    border: 1px solid;
    &:hover{
        background: #c7e1f9;
        border: 1px solid transparent;
    }
}

.modal {
    &>article {
        min-width: 70vw;
        max-width: 90vw;
    }
    &>input:checked ~ .overlay ~ * {
        max-height: 72%;
    }
}

// .tabs { width: 99.1%; }
:checked+.toggle, :checked+.toggle:hover {
    box-shadow: inset 0 0 0 99em rgba(128, 177, 236, 0.38);
}
// /picnic custom



// 1.位置屬性(position, top, right, z-index, display, float等)
// 2.大小(width, height, padding, margin)
// 3.文字系列(font, line-height, letter-spacing, color- text-align等)
// 4.背景(background, border等)
// 5.其他(animation, transition等)
:root {
    --size-xs: 480px;
    --size-sm: 768px;
    --size-md: 960px;
    --size-lg: 1024px;
    --size-xl: 1280px;
    --size-2x: 1440px;
    
    --app-bg: hsla(225, 25%, 55%, 1); //#4e5d6a; //#6b9fcc
    --content-bg: #F2F4F6;

    font-size: 20px;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
////

// base styles
html,body {
    height: 100%;
    width: 100%;
    margin: 0;
}
body {
    font-size: 0.8em;
    
    @media (min-width: $size-xs + 1) {
        font-size: 0.9em;
    }
    @media (min-width: $size-sm + 1) {
        font-size: 1em;
    }
    @media (min-width: $size-md + 1) {
        font-size: 1.1em;
    }
    @media (min-width: $size-lg + 1) {
        font-size: 1.2em;
    }
    // @media (min-width: $size-xl + 1) {
    //     font-size: 1.3em;
    // }
    // @media (min-width: $size-2x + 1) {
    //     font-size: 1.4em;
    // }
}