@import 'modules/_variables';

body {
    background: var(--app-bg);
    position: relative;
}

#app {
    min-width: 100%;
    min-height: 100%;
}

.wraper {
    position: relative;
    // height: inherit;
    min-height: 100%;
    
    display: grid;
    grid-template-areas: 
    "header"
    "navi"
    "body"
    "footer"
    ;
    
    .header { grid-area: header; }
    .navi { grid-area: navi; }

    .body { 
        grid-area: body;
        min-height: 100vh;
    }

    .footer { grid-area: footer; }

    --aside-width: 16vw;
    @media (max-width: $size-md) {
        grid-template-rows: 100vh max-content auto max-content;

        .navi {
            position: sticky;
            top: 0;
            z-index: 99;
        }
    }

    @media (min-width: $size-md + 1) {
        grid-template-columns: minmax(var(--aside-width), 256px) auto;
        grid-template-rows: auto 1fr max-content;
        grid-template-areas: 
            "header body"
            "navi body"
            "footer body"
        ;
    }
    @media (min-width: $size-2x) {
        --aside-width: 16em;
    }
}

.header {
    display: grid;

    .container {
        --intro-bg: var(--content-bg);
        
        background-image: url(../img/bg_check_note.jpg);
        background-size: cover;
        background-position: center;
        background-color: var(--intro-bg);
        
        display: grid;
        grid-row-gap: 0.4em;
        
        .hero-img { 
            --avatar-size: 20vmin;

            grid-area: hero-img;

            margin: 0;
            background-position: top right;
            background-size: cover;

            display: grid;

            .icon--avatar {
                width: var(--avatar-size);
                max-width: 250px;
                border-radius: 50%;
                box-shadow: 0 0.5em 1em rgba(0,0,0,0.5);
            }
        }
        .title { grid-area: title; }
        .discription { grid-area: disc; }
        .title, .discription {
            padding-left: 0.8rem;
            padding-right: 0.8rem;
        }
        .title {
            font-weight: 300;
            letter-spacing: 0.4em;
            transform: scaleY(0.8);
        }
        .discription {
            display: grid;
            .icons {
                margin: 0;
                padding: 0;

                display: grid;
                width: 100%;
                grid-template-columns: repeat(auto-fit, minmax(10%, 5vw));
                justify-content: space-evenly;
                grid-gap: 2vw;

                list-style: none;
                .icon {
                    display: block;
                    margin: 0;
                    padding: 0;

                    img { display: block; }
                }
            }
        }
        
    }

    .scroll-indicator {
        --svg-size: 5vh;
        position: absolute;
        
        width: var(--svg-size);
        height: var(--svg-size);
        
        bottom: 1.5vh;
        left: 50%;
        transform: translateX(-50%);

        display: none;
    }

    @media (max-width: $size-sm) and (orientation: landscape) {
        .slogan {
            font-size: 3.5vw;
        }
    }

    @media (max-width: $size-md) {
        position: relative;
    
        .scroll-indicator {
            display: block;
        }
    
        .container {
            margin: 5vh 3vw;
            margin-bottom: 7vh;
        }
    }
    @media (max-width: $size-md) and (orientation: Portrait) {

        .container {
            grid-template-rows: 40vh max-content auto;
            grid-template-areas:
                "hero-img"
                "title"
                "disc"
            ;

            .hero-img {
                margin-bottom: calc(var(--avatar-size) / 2);

                .icon--avatar {
                    align-self: end;
                    justify-self: center;
                    transform: translateY(50%);
                }
            }
            .title {
                text-align: center;
            }
            .discription {
                grid-template-rows: max-content max-content auto;
                grid-gap: 2vh;

                .slogan, .discrib_self {
                    text-align: center;
                }

                .icons {
                    align-self: center;
                    justify-self: center;
                }
             }
        }

    }
    @media (max-width: $size-md) and (orientation: landscape) {
        .container {
            // margin: 5vh 5vw;

            grid-template-columns: minmax(35%, 1fr) 1fr;
            grid-template-rows: auto max-content auto auto;
            grid-template-areas:
                "hero-img ..."
                "hero-img title"
                "hero-img disc"
                "hero-img ..."
            ;

            h1 { padding: 0; }

            .hero-img { 
                margin-right: calc(var(--avatar-size) / 2);
    
                .icon--avatar {
                    align-self: center;
                    justify-self: end;
                    transform: translateX(50%);
                }
            }
            .title, .discription {
                padding-bottom: 0;
                padding-top: 0;
            }
            .title { 
                grid-area: title;
                align-self: end;

                transform-origin: bottom;
            }
            .discription {
                grid-area: disc;
                grid-template-rows: max-content max-content auto;
                grid-gap: 1vh;
                
                .icons {
                    align-self: end;
                    justify-self: end;
                    justify-content: end;
    
                    // .icon {}
                }
            }
        }
    }

    @media (min-width: $size-md + 1) {

        .container {
            // background-attachment: fixed;
            background: var(--app-bg);

            grid-gap: unset;
            grid-template-rows: 11vw;
            grid-template-areas:
                "hero-img"
            ;

            .discription { display: none; }

            .hero-img {
                --avatar-size: 6vw;

                margin-bottom: calc(var(--avatar-size) / 2);
    
                .icon--avatar {
                    // display: none;
                    align-self: end;
                    justify-self: center;
                    transform: translateY(50%);
                }
            }
            .title {
                display: none;
                // text-align: center;
                // font-size: 1.4em;
            }
        }

    }

    // @media (min-width: $size-xl) {
    //     .container {
    //         grid-template-rows: 16em max-content auto;
    //     }
    // }
    @media (min-width: $size-2x) {
        .container {
            grid-template-rows: 11em;

            .hero-img {
                --avatar-size: 6em;
            }
        }
    }
}

.navi {
    background-color: var(--app-bg);

    .menu {
        margin: 0;
        padding: 0;

        list-style: none;
        .menu_item {
            color: var(--content-bg);
            font-size: 112%;
            display: block;
            margin: 0;
            padding: 0.4em;
            
            // font-size: 1.2em;
            a, a:hover { color:inherit; }
        }
    }

    @media (max-width: $size-md) {
        box-shadow: 0 4px 5px rgba(0,0,0,0.5);

        .menu {
            display: flex;
            padding: 0 0.6em;

            .menu_item {
                .link_icon { font-size: 80%; }
                &.spacer { flex: 1; }

                &.link_contact, &.link_qrcode {
                    .link_text { display: none;}
                }
            }
        }
    }
    @media (min-width: $size-md + 1) {
        .container { position: sticky; top: 0; }

        .menu {
            display: grid;
            margin-top: 1em;
            padding-top: 1em;

            .menu_item {
                padding: 0.4em 1em;;
                .link_icon { 
                    font-size: 150%;
                    margin-right: 0.8em;
                }
                .link_text {
                    line-height: 1;
                }

                a { 
                    display: block;
                    display: flex;
                    align-items: end;
                    border-bottom: 1px solid transparent;

                    &:hover {
                        border-bottom-color: currentColor;
                    }
                }
            }
        }

    }
}

.body {
    // height: 200vh;
    padding: 3em 1em;
    background-color: hsla(225, 25%, 75%, 1);
    .container {
        // background-color: var(--content-bg);
        min-height: inherit;
    }
    
    @media (max-width: $size-md) {
        // padding-top: 2.5em;
    }

    @media (min-width: $size-md + 1) {

    }

    // #about {}

    // #blog {}

    #about, #blog, #illust {
        .intro {
            background-color: var(--content-bg);
            padding: 2vw;
            margin-bottom: 3em;
            
            display: grid;
            grid-column-gap: 2vw;
            grid-template-columns: auto 1fr;
            grid-template-rows: auto 1fr;
            grid-template-areas:
                "icon title"
                "icon disc"
            ;

            .page_icon {
                grid-area: icon;
                display: block;
                width: 10vw;
                max-width: 256px;
                min-width: 64px;
                align-self: center;
                justify-self: center;

                border-radius: 0.6em;
            }

            @media (min-width: $size-xl) {
                .page_title {
                    font-size: 2rem;
                }
    
                .page_disc {
                    font-size: 1.4rem;
                }
            }
            @media (min-width: $size-2x) {
                padding: 2em;
                grid-column-gap: 2em;
                .page_title {
                    font-size: 3rem;
                }
    
                .page_disc {
                    font-size: 1.8rem;
                }
            }
        }
    }

    .backToTop {
        background: rgba(0, 0, 0, 0.45);
        border-radius: 50%;
        width: 3em;
        height: 3em;
        display: flex;
        place-items: center;
        cursor: pointer;
        pointer-events: painted;
    
        position: sticky;
        bottom: 1em;
    
        margin-top: 3em;
    
        z-index: 199;
        img {
            pointer-events: none;
            width: 60%;
            transform: rotate(180deg);
            display: block;
            margin: auto;
        }
    
        @media (min-width: $size-md) {
            transform: translateX(-2.5em);
            bottom: 3em;
        }
    }
}

.footer {
    background-color: var(--app-bg);
    color: var(--content-bg);
    border-top: 1px solid currentColor;
    
    @media (min-width: $size-md + 1) {
        position: sticky;
        bottom: 0;

    }
}


#contact__modal {
    .dialog__container--bottom {
    --content_height: auto;
    --max-height: 85vh;

    --content-font-color: #fff;
    --content-bg-color: transparent
    }

    .dialog__contant {
        padding: 1em;

        display: grid;
        grid-template-columns: auto 1fr;

        grid-gap: 1em;
        align-items: center;
        
        h4 { grid-column: 1 / -1;}

        img {
            width: 15vmin;
            max-width: 5em;
        }
        a {
            display: block;
            height: 100%;
            color: inherit;
            font-size: 1.5em;

            border-bottom: 1px solid transparent;

            &:hover {
                border-bottom-color: currentColor;
            }
        }
    }

}

#qrcode__modal {
    .dialog__container--modal {
    --content_width: auto;
    // --content_height: auto;

    // --min-width: 15em;
    // --max-width: 36em;
    // --min-height: 6em;
    // --max-height: 65vh;

    --content-font-color: #fff;
    --content-bg-color: transparent
    }

    .dialog__contant {
        display: grid;
        grid-row-gap: 0.5em;
        place-items: center;

        .qrcode {
            display: block;
            width: 100%;
            max-width: 55vmin;
            height: auto;
            max-height: 55vmin;
        }
        .url { font-size: 1.5em; }
    }

}


.plurk, .pixiv {
    &__item-container {
        list-style: none;
        padding: 0;
        margin: 0;

        display: grid;

        li { 
            margin: 0;
        }
    }
}

.plurk {
    &__item-container {
        grid-gap: 2vmax 2vmin;
        
        @media (min-width: $size-md + 1) {
            grid-template-columns: repeat(auto-fit, minmax(640px, 1fr));
        }
        @media (min-width: $size-2x) {
            grid-gap: 2em 1em;
        }
    }

    &__post {
        position: sticky;
        top: -10%;
        display: grid;
        
        background-color: var(--content-bg);
        padding: 2.5vmax;
        
        grid-gap: 1vmax 2vmin;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: 
            "avatar info"
            "content content"
            "readmore readmore"
        ;

        @media (min-width: $size-2x) {
            padding: 1em;
            grid-gap: 2em 1em;
        }

        &>a{
            align-self: center;
            border-bottom: 1px solid #bbb;
        }
    }

    &__avatar {
        grid-area: avatar;
        display: block;
        width: 100%;
        max-width: 96px;
        min-width: 4em;
        width: 3vw;

        border-radius: 0.4em;
    }

    &__content  {
        grid-area: content;
        // background-color: #aaa;
    }

    &__readmore {
        grid-area: readmore;
        justify-self: end;
        // margin-right: 2em;

        position: sticky;
        bottom: 2.5em;

        .plurk__open {
            color: #fff;
            display: block;
            background-color: hsl(219, 79%, 66%);
            padding: 0.2em 2em;
            border-radius: 1em;

            &:hover {
                background-color: hsl(219, 79%, 76%);
            }
        }
    }


    .ex_link, .meta {
        img {
            height: unset;
            max-width: 100%;
            display: block;
        }
    }
    .ex_link:not(.meta) {
        background-color: #e6e6e6;
        padding: 1px 0.5em;
        display: inline-block;
    }
    
    .meta {
        border: 1px solid #d6d6d6;
        // max-width: 90%;
        margin: 1em;
        padding: 1em;
        display: grid;
        grid-gap: 1em;
        
        // border: 1px solid #e6e6e6;
        grid-template-columns: 3fr 4fr;

        @media (min-width: $size-lg + 1) {
            grid-template-columns: auto;
        }

        img {
            width: 100%;
        }

    }

}


.pixiv {
    &__item-container {
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 2.4em 1em;

        @media (min-width: $size-md) {
            grid-template-columns: repeat(9, 1fr);
        }
        @media (min-width: $size-xl) {
            grid-template-columns: repeat(12, 1fr);
        }
        // @media (min-width: $size-lg + 1) {
        //     grid-template-columns: auto;
        // }
        // @media (min-width: $size-2x + 1) {
        //     grid-template-columns: 1fr 1fr;
        // }
    }
    &__illust {
        display: grid;
        grid-template-rows: min-content auto;
        
        background-color: var(--content-bg);
        padding: 0.5em;

        &>a {
            display: block;
            content: '';
            width: 100%;
            padding-bottom: 100%;
    
            background-size: auto 110%;
            background-position: top -1px center;
            background-repeat: no-repeat;

            border: 1px solid var(--app-bg);
        }


        grid-column: span 2;
        // landscape, Portrait
        @media (max-width: $size-md) AND (orientation: landscape) {
            &:nth-child(1), &:nth-child(2),
            &:nth-child(3), &:nth-child(4),
            &:nth-child(5), &:nth-child(6) {
                grid-column: span 3;
            }
        }
        @media (max-width: $size-md) AND (orientation: Portrait) {
            grid-column: span 3;
            &:nth-child(1) {
                grid-column: 1 / -1;
            }
            // &:nth-child(2), &:nth-child(3) {
            // }
        }
        @media (min-width: $size-md) {
            grid-column: span 3;

            &:nth-child(1) {
                grid-column: span 6;
                grid-row: span 6;
            }
            &:nth-child(2), &:nth-child(3), {
                grid-column: span 3;
                grid-row: span 3;
            }
        }

        @media (min-width: $size-xl) {
            &:nth-child(4), &:nth-child(5) {
                grid-column: span 3;
                grid-row: span 3;
            }
        }

        @media (min-width: $size-2x) {
            // grid-column: span 3;

            &:nth-child(1), &:nth-child(2), &:nth-child(3){
                grid-column: span 4;
                grid-row: span 4;
            }
            &:nth-child(4), 
            &:nth-child(5), &:nth-child(6) {
                grid-column: span 3;
                grid-row: span 1;
            }

            &:nth-last-child(1), &:nth-last-child(2), 
            &:nth-last-child(3), &:nth-last-child(4),
            &:nth-last-child(5), &:nth-last-child(6) {
                grid-column: span 2;
            }
        }

        &:last-child {
            grid-column-end: -1;
        }
    }

    &__title {
        justify-self: center;
        align-self: center;

        @media (min-width: $size-lg + 1) {
            font-size: 1rem;
        }
    }
}