// helper
.dialog {
    --content_width: 100vw;
    --content_height: auto;

    --min-width: 30em;
    --max-width: 36em;
    --min-height: 6em;
    --max-height: 80vh;

    --content-font-color: inherit;
    --content-bg-color: #fff;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.2s linear 0s, transform 0s linear 0.3s;
    transform: translate(0%, -101%) scale(0.1);
    display: grid;
    z-index: 1999;
    
    &__overlay {
        grid-area: 1/1 / -1/-1;
        background-color: rgba(0, 0, 0, 0.72);
    }
    
    &__container {
        grid-area: 1/1 / -1/-1;

        transition: transform .3s ease-in;
        
        color: var(--content-font-color);
        background-color: var(--content-bg-color);
        
        width: var(--content_width);
        height: var(--content_height);
        min-width: var(--min-width);
        max-width: var(--max-width);
        min-height: var(--min-height);
        max-height: var(--max-height);

        overflow-x: hidden;
        overflow-y: auto;

        &--modal {
            --content_width: 90vw;
            --min-width: 15em;

            align-self: center;
            justify-self: center;
            transform: scale(0.9);
        }

        &--top {
            --min-height: auto;

            align-self: start;
            transform: translateY(-100%);
        }
        &--bottom {
            align-self: end;
            transform: translateY(100%);
        }
        &--top, &--bottom {
            justify-self: center;
        }

        &--left {
            justify-self: start;
            transform: translateX(-100%);
        }
        &--right {
            justify-self: end;
            transform: translateX(100%);
        }
        &--left, &--right {
            --min-width: 18em;
            --max-width: 24em;
            --content_height: 100%;

            align-self: start;
        }
    }

    &__contant { }
    
    &.active {
        transition: opacity 0.1s linear 0s, transform 0s;
        transform: translate(0%, 0%) scale(1);
        
        opacity: 1;

        .dialog__container {
            transition: transform .3s ease-out;
            transform: none;
        }
    }

}