// // Core colors
// $primary-color: #85a2d6;
// $primary-color-dark: darken($primary-color, 3%);
// $primary-color-light: lighten($primary-color, 3%);
// $secondary-color: lighten($primary-color, 37.5%);
// $secondary-color-dark: darken($secondary-color, 3%);
// $secondary-color-light: lighten($secondary-color, 3%);



// // Gray colors
// $dark-color: #454d5d;
// $light-color: #eee;
// $gray-color: lighten($dark-color, 40%);
// $gray-color-dark: darken($gray-color, 25%);
// $gray-color-light: lighten($gray-color, 20%);
// $border-color: lighten($dark-color, 60%);
// $border-color-dark: darken($border-color, 10%);
// $bg-color: lighten($dark-color, 66%);
// $bg-color-dark: darken($bg-color, 3%);
// $bg-color-light: $light-color;



// // Control colors
// $success-color: #32b643;
// $warning-color: #ffb700;
// $error-color: #e85600;



// // Other colors
// $code-color: #e06870;
// $highlight-color: #ffe9b3;
// $body-bg: $bg-color-light;
// $body-font-color: lighten($dark-color, 5%);
// $link-color: $primary-color;
// $link-color-dark: darken($link-color, 5%);


// Responsive breakpoints
$size-xs: 480px;
$size-sm: 768px;
$size-md: 960px;
$size-lg: 1024px;
$size-xl: 1280px;
$size-2x: 1440px;
