{* init ========== ========== ========== ========== ========== *}


{* BEGIN_OF_HEAD ========== ========== ========== ========== ========== *}
<SET_BLOCK name="BEGIN_OF_HEAD">
<check if="@STAGE === 'PRODUCTION'">
{*<!-- Global site tag (gtag.js) - Google Analytics -->*}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-2531070-2"></script>
    <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-2531070-2'); </script>
</check>
</SET_BLOCK>

{* END_OF_HEAD ========== ========== ========== ========== ========== *}
<SET_BLOCK name="END_OF_HEAD">

    <meta name="theme-color" content="#707ea9">

    <link rel="stylesheet" href="{{ @BASE_URL }}/{{ @ASSETS_PATH }}/css/picnic.min.css?v{{@UPDATE_DATE}}">
    <link rel="stylesheet" href="{{ @BASE_URL }}/{{ @ASSETS_PATH }}/css/base_style.min.css?v{{@UPDATE_DATE}}">
    <link rel="stylesheet" href="{{ @BASE_URL }}/{{ @ASSETS_PATH }}/css/font-awesome.min.css?v{{@UPDATE_DATE}}">
    <link rel="stylesheet" href="{{ @BASE_URL }}/{{ @ASSETS_PATH }}/css/fa-regular.min.css?v{{@UPDATE_DATE}}">
    <link rel="stylesheet" href="{{ @BASE_URL }}/{{ @ASSETS_PATH }}/css/fa-light.min.css?v{{@UPDATE_DATE}}">
    <link rel="stylesheet" href="{{ @BASE_URL }}/{{ @ASSETS_PATH }}/css/fa-solid.min.css?v{{@UPDATE_DATE}}">
    <link rel="stylesheet" href="{{ @BASE_URL }}/{{ @ASSETS_PATH }}/css/fa-brands.min.css?v{{@UPDATE_DATE}}">
    <link rel="stylesheet" href="{{ @BASE_URL }}/{{ @ASSETS_PATH }}/css/main_style.min.css?v{{@UPDATE_DATE}}">

    <style type="text/css"> [v-cloak] { display: none; } </style>
</SET_BLOCK>

{* CONTENT_OF_BODY ========== ========== ========== ========== ========== *}
<SET_BLOCK name="CONTENT_OF_BODY" conflict>
    <div id="app" class="root" v-cloak>

        <div class="wraper">

            <header id="intro" class="header">
                <div class="container">
                    <figure class="hero-img" style="background-image: url({? @BASE_URL ?}/{? @ASSETS_PATH ?}/img/header_bg_harakaze_curry.jpg)">
                        <img class="icon--avatar" src="{? @BASE_URL ?}/{? @ASSETS_PATH ?}/img/avatar_tales_color.jpg" alt="">
                    </figure>
                    <h1 class="title">Tales</h1>
                    <div class="discription">
                        <p class="subtitle text-bold text-italic slogan">"devoted to stupidity"</p>
                        <p class="discrib_self"> 做前端有時也畫圖的人 </p>

                        <ul class="icons">
                            <li class="icon" @click="scrollTo_BodyTop(); $router.push({path: '/about'})" >    
                                <img src="{? @BASE_URL ?}/{? @ASSETS_PATH ?}/svg/fa-regular/user-circle.svg" alt="關於">
                            </li>
                            <li class="icon" @click="scrollTo_BodyTop(); $router.push({path: '/blog'})" >    
                                <img src="{? @BASE_URL ?}/{? @ASSETS_PATH ?}/svg/fa-regular/comment-alt-lines.svg" alt="最近碎碎念">
                            </li>
                            <li class="icon" @click="scrollTo_BodyTop(); $router.push({path: '/illust'})" >    
                                <img src="{? @BASE_URL ?}/{? @ASSETS_PATH ?}/svg/fa-regular/images.svg" alt="繪圖作品">
                            </li>
                            <li class="icon" @click="$router.push({path: '/contact'})" >    
                                <img src="{? @BASE_URL ?}/{? @ASSETS_PATH ?}/svg/fa-regular/envelope.svg" alt="聯絡我">
                            </li>
                            <li class="icon" @click="$router.push({path: '/qrcode'})" >    
                                <img src="{? @BASE_URL ?}/{? @ASSETS_PATH ?}/svg/fa-regular/qrcode.svg" alt="顯示 QRcode">
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="scroll-indicator">
                    <img @click="scrollTo_BodyTop" src="{? @BASE_URL ?}/{? @ASSETS_PATH ?}/svg/fa-regular/chevron-down.svg" alt="往下捲動">
                </div>

            </header>

            <aside class="navi">
                <div class="container">
                    <ul class="menu">
                        <li class="menu_item link_about"> 
                            <router-link class="" :to="'/about'">
                                <i class="link_icon fal fa-user-circle"></i>
                                <span class="link_text">about</span>
                            </router-link>
                        </li>
                        <li class="menu_item link_blog">
                            <router-link class="" :to="'/blog'">
                                <i class="link_icon fal fa-comment-alt-lines"></i>
                                <span class="link_text">blog</span>
                            </router-link>

                        </li>
                        <li class="menu_item link_illust">
                            <router-link class="" :to="'/illust'">
                                <i class="link_icon fal fa-image"></i>
                                <span class="link_text">illust</span>
                            </router-link>

                        </li>
                        <li class="menu_item spacer"></li>
                        <li class="menu_item link_contact">
                            <router-link class="" :to="'/contact'">
                                <i class="link_icon fal fa-envelope"></i>
                                <span class="link_text">contact</span>
                            </router-link>

                        </li>
                        <li class="menu_item link_qrcode">
                            <router-link class="" :to="'/qrcode'">
                                <i class="link_icon fal fa-qrcode"></i>
                                <span class="link_text">QRcode</span>
                            </router-link>

                        </li>
                    </ul>
                </div>
            </aside>

    
            <div :class="['body', (`${page.current}`.substr(1)), {'active': page.is_ready}]" ref="appBody">

                <div id="about" v-if="page.current === '/about'" class="container">
                    <div class="intro">
                        <img class="page_icon" src="{? @BASE_URL ?}/{? @ASSETS_PATH ?}/img/avatar_tsukkomu.png" alt="my plurk avatar">
                        <h3 class="page_title">about</h3>
                        <div class="page_disc">
                            先簡單條列一下，之後會再來美化這一頁。
                        </div>
                    </div>
                    
                    <div class="section about_me">
                        <h2>我是…</h2>
                        <ul>
                            <li>Tales <del>唸作太老實</del></li>
                            <li>做前端偶而也畫圖的人</li>
                            <li>大學是商業設計系，但現在比較算是前端工程師</li>
                            <li>網頁技術： HTML / CSS / JavaScript(es6) <del>不然咧…</del> </li>
                            <li>理所當然的會 jQuery ，但目前主要使用 vue.js </li>
                            <li>後端會一點 PHP ，也會用 MVC 框架</li>
                            <li>能做 PWA ，有個實做專案： <a href="https://circlecheck.plus/"> CircleCheckPlus </a></li>
                            <li>有時會畫一些奇怪的圖做成衣服拿去同人場賣</li>
                            <li>要是出了什麼事上了新聞被記者形容成宅男也沒辦法辯解的人</li>
                            <li>沒有在用臉書</li>
                            <li>求職中（請與我 <router-link class="" :to="'/contact'">聯絡</router-link> ！）</li>
                        </ul>
                    </div>
                    
                    <hr>
                    
                    <div class="section about_site">
                        <h2>這個頁面…</h2>
                        <ul>
                            <li>用 Vue.js 寫的</li>
                            <li> <del>本網站最佳瀏覽解析度為 1024 x 768 </del> 因為有做 RWD ，只要長寬比不太奇怪應該看起來都還不錯</li>
                            <li>寫不出什麼有料的東西，所以想到把自己平常在撲浪的碎碎念接過來假裝成 Blog </li>
                            <li>既然如此，身為一個前端工程師，順便把圖從 Pixiv 撈過來也都是很合理的</li>
                            <li>於是這個頁面的 Blog 與 Illust 的資料都是另外串 API 取得的</li>
                            <li>API 要來的資料有用 Local Storage 做前端快取</li>
                            <li>不過 Pixiv 沒有提供 API 給人撈資料，所以我是自己寫爬蟲再做成 API 給自己接</li>
                            <li>後端的爬蟲是用 PHP 寫的，使用一套叫做 Fat-free framework 的 MVC 框架</li>
                            <li>我也有 Twitter 帳號，但是沒什麼在發言就沒接了</li>
                            <li>在考慮也寫爬蟲把放在蝦皮上的東西也撈過來充實內容</li>
                        </ul>
                    </div>
                </div>

                <div id="blog" v-if="page.current === '/blog'" class="container">
                    <div class="intro">
                        <img class="page_icon" :src="plurk.profile.avatar || '{? @BASE_URL ?}/{? @ASSETS_PATH ?}/img/avatar_tsukkomu.png'" alt="my plurk avatar">
                        <h3 class="page_title">Blog</h3>
                        <div class="page_disc">
                            其實不是 Blog ，只是我最近在 <a href="" :href="'https://plurk.com/'+plurk.id">plurk</a> 上講或轉了的東西
                        </div>
                    </div>

                    <div class="section plurk">
                        
                        <ul v-if="page.is_ready" class="plurk__item-container">

                            <li v-for="post in plurk.post">

                                <div class="plurk__post">

                                    <img :src="plurk.profile.avatar" class="plurk__avatar" :alt="`${plurk.profile.name} 在 Plurk 的頭像圖`">
                                    <a :href="post.url">
                                        {{ post.localTime }} 
                                        <br /> 
                                        {{ post.timeAgo }} {{ post.says }} ：
                                    </a>
                                    <div class="plurk__content" v-html="htmlDecode(post.content)"></div>
                                    <div class="plurk__readmore">
                                        <a :href="post.url" class="plurk__open">
                                            read more
                                        </a>
                                    </div>

                                </div>

                            </li>

                        </ul>

                        <ul v-else class="plurk__item-container">
                            <li v-for="idx in 5" class="plurk__post">
                                {{ idx }}
                            </li>
                        </ul>

                    </div>
                    
                </div>

                <div id="illust" v-if="page.current === '/illust'" class="container">
                    <div class="intro">
                        <img class="page_icon" src="{? @BASE_URL ?}/{? @ASSETS_PATH ?}/img/logo-pixiv.svg" alt="Pixiv logo">
                        <h3 class="page_title">Illust</h3>
                        <div class="page_disc">
                            有放到 <a :href="pixiv.profile.url">Pixiv</a> 上的圖。 全部共 {{ pixiv.profile.totalWorks }} 張，這邊是最新的 20 張，其他可至 <a :href="pixiv.profile.url">Pixiv</a> 瀏覽。
                        </div>
                    </div>

                    <div class="section pixiv">
                        <ul class="pixiv__item-container">

                            <li v-for="illust in pixiv.illust" :title="`${illust.title} | ${illust.localTime} (${illust.timeAgo})`" class="pixiv__illust">
                                <a :href="illust.url" :style="{backgroundImage: 'url('+illust.src+')' }"></a>
                                <!-- <a :href="illust.url"></a> -->
                                <div class="pixiv__title">
                                    <a :href="illust.url">
                                        {{ illust.title }}
                                    </a>
                                </div>
                            </li>

                            <li class="pixiv__illust">
                                <a :href="pixiv.profile.url" :style="{backgroundImage: 'url({? @BASE_URL ?}/{? @ASSETS_PATH ?}/img/logo-pixiv.svg)' }"></a>
                                <div class="pixiv__title">
                                    <a :href="pixiv.profile.url">
                                        ... see more and follow me on pixiv!
                                    </a>
                                </div>
                                
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="backToTop" @click="scrollTo_BodyTop">
                    <img src="{? @BASE_URL ?}/{? @ASSETS_PATH ?}/svg/fa-regular/chevron-down.svg" alt="回到頁首">
                </div>

            </div>
    
            <footer class="footer">
                <div class="container text-center">
                    "devoted to stupidity"
                </div>
            </footer>

        </div>

        <div  id="contact__modal" :class="['dialog',{'active': contact_modal.active}]">

            <div class="dialog__overlay" @click="trig_Path('/contact','onLeave')"></div>
            <div class="dialog__container dialog__container--bottom">

                <div v-if="contact_modal.active" class="dialog__contant">

                    <h4> mail : </h4>
                    <img class="page_icon" src="{? @BASE_URL ?}/{? @ASSETS_PATH ?}/img/at.svg" alt="聯絡我">
                    <div>
                        {? @CONTACT_EMAIL ?}
                    </div>
                    <h4> follow my activity or Contact me on : </h4>

                    <img class="page_icon" src="{? @BASE_URL ?}/{? @ASSETS_PATH ?}/img/logo-plurk.png" alt="Plurk logo">
                    <div>
                        <a href="https://plurk.com/taleslogs"> Plurk </a>
                    </div>
                    <img class="page_icon" src="{? @BASE_URL ?}/{? @ASSETS_PATH ?}/img/logo-pixiv.svg" alt="Pixiv logo">
                    <div>
                        <a href="https://pixiv.me/tales00"> Pixiv </a>
                    </div>

                </div>
            </div>
            
        </div>

        <div  id="qrcode__modal" :class="['dialog',{'active': qrcode_modal.active}]">

            <div class="dialog__overlay" @click="trig_Path('/qrcode','onLeave')"></div>
            <div class="dialog__container dialog__container--modal">

                <div v-if="qrcode_modal.active" class="dialog__contant">

                    <img src="{? @BASE_URL ?}/{? @ASSETS_PATH ?}/img/tales.tw_qrcode.png" class="qrcode" alt="tales.tw 的 QRCode">
                    <div class="url"> https://tales.tw </div>

                </div>
            </div>
            
        </div>
        
    </div>
</SET_BLOCK>

{* END_OF_BODY ========== ========== ========== ========== ========== *}
<SET_BLOCK name="END_OF_BODY">
<!-- <script src="{{ @BASE_URL }}/{{ @ASSETS_PATH }}/js/idb.min.js?v{{@UPDATE_DATE}}"></script> -->
<script src="{{ @BASE_URL }}/{{ @ASSETS_PATH }}/js/vue/vue.{{@MIN_DOT}}js?v{{@UPDATE_DATE}}"></script>
<script src="{{ @BASE_URL }}/{{ @ASSETS_PATH }}/js/vue/vue-router.min.js?v{{@UPDATE_DATE}}"></script>
<!-- <script src="{{ @BASE_URL }}/{{ @ASSETS_PATH }}/js/vue/vuex.min.js?v{{@UPDATE_DATE}}"></script> -->
<script src="{{ @STAGE==='DEV'?@SOURCE_PATH:@ASSETS_PATH }}/js/libs.{{@MIN_DOT}}js?v{{@UPDATE_DATE}}"></script>
<script src="{{ @STAGE==='DEV'?@SOURCE_PATH:@ASSETS_PATH }}/js/app.{{@MIN_DOT}}js?v{{@UPDATE_DATE}}"></script>
</SET_BLOCK>

{* include layout ========== ========== ========== ========== ========== *}
<include href="/page_shelf.html" />