<!DOCTYPE html>
<html lang="{{ @LANG }}">

<head>
{{ @BLOCK['BEGIN_OF_HEAD'] }}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome">

    <title>{{ @PAGE_TITLE ?: @SITE_TITLE}} | tales.tw</title>

    <base href="{{ @BASE_URL }}" /> 
{{ @BLOCK['END_OF_HEAD'] }}
</head>

<body>
<!-- begin of body   -->{{ @BLOCK['BEGIN_OF_BODY']   }}

<!-- content of body -->{{ @BLOCK['CONTENT_OF_BODY'] }}

<!-- end of body     -->{{ @BLOCK['END_OF_BODY']     }}
</body>

</html>