{* init ========== ========== ========== ========== ========== *}
<set PAGE_TITLe="Tales's Resume"></set>

{* BEGIN_OF_HEAD ========== ========== ========== ========== ========== *}
<SET_BLOCK name="BEGIN_OF_HEAD">
<check if="@STAGE === 'PRODUCTION'">
{*<!-- Global site tag (gtag.js) - Google Analytics -->*}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-2531070-2"></script>
    <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-2531070-2'); </script>
</check>
</SET_BLOCK>

{* END_OF_HEAD ========== ========== ========== ========== ========== *}
<SET_BLOCK name="END_OF_HEAD">

    <meta name="theme-color" content="#707ea9">

    <link rel="stylesheet" href="{{ @BASE_URL }}/{{ @ASSETS_PATH }}/css/picnic.min.css?v{{@UPDATE_DATE}}">
    <link rel="stylesheet" href="{{ @BASE_URL }}/{{ @ASSETS_PATH }}/css/base_style.min.css?v{{@UPDATE_DATE}}">
    <link rel="stylesheet" href="{{ @BASE_URL }}/{{ @ASSETS_PATH }}/css/font-awesome.min.css?v{{@UPDATE_DATE}}">
    <link rel="stylesheet" href="{{ @BASE_URL }}/{{ @ASSETS_PATH }}/css/fa-regular.min.css?v{{@UPDATE_DATE}}">
    <link rel="stylesheet" href="{{ @BASE_URL }}/{{ @ASSETS_PATH }}/css/fa-light.min.css?v{{@UPDATE_DATE}}">
    <link rel="stylesheet" href="{{ @BASE_URL }}/{{ @ASSETS_PATH }}/css/fa-solid.min.css?v{{@UPDATE_DATE}}">
    <link rel="stylesheet" href="{{ @BASE_URL }}/{{ @ASSETS_PATH }}/css/fa-brands.min.css?v{{@UPDATE_DATE}}">
    <link rel="stylesheet" href="{{ @BASE_URL }}/{{ @ASSETS_PATH }}/css/resume_style.min.css?v{{@UPDATE_DATE}}">

    <!-- <style type="text/css"> [v-cloak] { display: none; } </style> -->
</SET_BLOCK>

{* CONTENT_OF_BODY ========== ========== ========== ========== ========== *}
<SET_BLOCK name="CONTENT_OF_BODY" conflict>

    <div id="resume" class="grid_waterFall">

        <div class="wf-item">
            <div class="item-container">
                <img src="{? @BASE_URL ?}/{? @ASSETS_PATH ?}/img/header_bg_tales.jpg">
            </div>
        </div>

        <div class="wf-item">
            <div class="item-container">
                <h2>自我介紹</h2>
                <p>
                    您好，我是 Tales ，謝謝您閱覽我的履歷。
                </p>
                <p>
                    我是一個半路出家的 F2E ，本業是學商業設計，過去也曾從事遊戲美術的工作，擅長日式動漫畫風格的插畫，長期參與同人活動，販售自己設計的作品。
                </p>
                <p>
                    因緣際會下跳轉到了網頁前端的領域，我寫程式是希望能做出對人有用的東西，那比畫圖帶給我的更大的成就感。
                </p>
                <p>
                    目前我正在尋找一份前端工程師的職務，若貴公司有這方面的需求，請與我聯絡。
                </p>
            </div>
        </div>

        <div class="wf-item">
            <div class="item-container">
                <h2>學經歷</h2>
                <p>
                    明鏡有限公司 / 技術部前端工程師
                </p>
                <p>
                    群暉科技公司 / 行銷部前端工程師
                </p>
                <p>
                    極致行動科技 / 手機遊戲美術
                </p>
                <p>
                    鼎美玩具 / 百貨玩具專櫃
                </p>
                <p>
                    偉曜實業 / 百貨玩具專櫃
                </p>
                <p>
                    中原大學 / 商業設計系
                </p>
            </div>
        </div>

        <div class="wf-item">
            <div class="item-container">
                <h2>使用技術</h2>
                <ul>
                    <li>JavaScript(ES6)</li>
                    <li>vue.js</li>
                    <li>jQuery</li>
                    <li>SPA / PWA</li>
                    <li>PHP</li>
                </ul>
            </div>
        </div>

        <div class="wf-item">
            <div class="item-container">
                <h2>作品簡介</h2>
                <p>六度</p>
                <p><a href="https://six-degrees.io">https://six-degrees.io</a></p>
                <h3>說明</h3>
                <p>
                    新聞聚合網站。任職於明鏡有限公司時的執行的專案。
                </p>
                <p>
                    負責前端頁面，介接後端 API ，後端為 codeigniter ，前端 Framework 使用 vue.js ，搭配 vue-router ，使用 localStorage 做前端快取，降低存取 API 的頻率。
                </p>
                
            </div>
        </div>

        <div class="wf-item">
            <div class="item-container">
                <h2>作品簡介</h2>
                <p>群暉科技公司網站</p>
                <p><a href="https://www.synology.com">https://www.synology.com</a></p>
                <h3>說明</h3>
                <p>
                    任職於群暉科技時的主要的工作是維護公司網站
                </p>
                <p>
                    收到需求後製作或更新網站中的任一頁面，當時主要使用 jQuery 。
                </p>
                
            </div>
        </div>

        <div class="wf-item">
            <div class="item-container">
                <h2>作品簡介</h2>
                <p>SpreadSheet 函數表</p>
                <p><a href="https://help.synology.com/spreadsheet/cht/">https://help.synology.com/spreadsheet/cht/</a></p>
                <h3>說明</h3>
                <p>
                    群暉 NAS SpreadSheet 套件的線上說明書
                </p>
                <p>
                    這份專案特殊的地方是，它其實是一個 gitbook 。
                </p>
                <p>
                    gitbook 沒有類似佈景主題的概念，為了把它改的像是群暉網站的一部分，是透過撰寫外掛的方式來插入自訂的 CSS 與程式碼，並且要用 javascript 改造 dom 的結構來達成調整樣式的目的
                </p>
                
            </div>
        </div>

        <div class="wf-item">
            <div class="item-container">
                <h2>作品簡介</h2>
                <p>CircleCheck.Plus</p>
                <p><a href="https://circlecheck.plus">https://circlecheck.plus</a></p>
                <h3>說明</h3>
                <p>
                    個人作品。同人活動攤位筆記 App ，以 vuejs 寫成，搭配 vue-router 與 vuex 。
                </p>
                <p>
                    這個 App 的概念是，擺攤的人將參展的資訊寫成一條 URL ，在活動之前宣傳時附上這條 URL ，逛攤的人只要按 URL 即可透過這個 WebApp 將這份資訊紀錄在手機（的瀏覽器）
                    活動當天在會場時就可利用手機查看想逛的攤位有哪些。
                </p>
                <p>
                    因為這是一個 PWA ，所以可以像普通的 APP 一樣安裝在使用者的桌面。並且能夠離線使用。資料儲存使用 indexedDB
                </p>
                
            </div>
        </div>

        <div class="wf-item">
            <div class="item-container">
                <h2>作品簡介</h2>
                <p>ADnonSences</p>
                <p>（已結束）</p>
                <h3>說明</h3>
                <p>
                    個人作品。同人宣傳用的廣告輪播平台
                </p>
                <p>
                    輪播廣告平台，讓同人創作者可以上傳廣告圖檔，然後藉由彼此的網站播放廣告，互相宣傳用。
                </p>
                <p>
                    前後經營了約五年，在臉書興起、個人網站式微之後因為使用率不足而收起。最多的時候，曾經同時有五百組廣告刊登輪播。
                </p>
                
            </div>
        </div>

    </div>

</SET_BLOCK>

{* END_OF_BODY ========== ========== ========== ========== ========== *}
<SET_BLOCK name="END_OF_BODY">
<script>
;(function({window}){

function wfLize( wf_dom ) {
    const rowH = 30;  

    const columns = getComputedStyle(wf_dom).getPropertyValue("--columns");
    // wf_dom.style = `display: block; grid-template-columns: auto;`;
    wf_dom.style = `display: grid; grid-template-columns: repeat(${columns}, 1fr);`;

    const wfItems = [...wf_dom.querySelectorAll('.wf-item')];

    let itemHeights = [];
    wfItems.forEach((item, idx)=>{
        const row_count = Math.floor(idx / columns);
        const start_pos = idx - columns;
        const innerHeight = item.querySelector('.item-container').clientHeight;
        let row_start = 'auto';

        let rowSpan = Math.floor( innerHeight / rowH );  
        rowSpan = (( innerHeight % rowH ) > 0)? rowSpan + 1 : rowSpan;

        if ( start_pos > -1 ) {
            itemHeights.push( (rowSpan + itemHeights[start_pos]) );
            row_start = ( (itemHeights[start_pos] + 1) );
        } else {
            itemHeights.push(rowSpan);
        }

        item.style = `grid-row: ${row_start} / span ${rowSpan};` ;
    });
}

let wfTimeOut;
        
window.addEventListener('resize', ()=>{
    clearTimeout(wfTimeOut)
    wfTimeOut = setTimeout(()=>{
        console.log('wfLize');
        wfLize( document.querySelector('#resume') );
    }, 500);
});

wfLize( document.querySelector('#resume') );

})({window});
</script>
</SET_BLOCK>

{* include layout ========== ========== ========== ========== ========== *}
<include href="/page_shelf.html" />